* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 110vh;
  background-color: #070606 !important;
  color: white;
  font-family: Arial, sans-serif;
  background-image: url("./img/bgAppStudy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.circle{
  width: 2.5rem;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: white;
}

.hidden{
  display: none;
}

.container {
  display: grid;
  gap: .625rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  max-width: 75rem;
  height: 90%;
  color: white;
}

.box {
  font-size: 24px;
  border-radius: .625rem;
  color: white;
}


/* #region box1 */
.box1 {
  border: solid .0625rem white;
}

.task-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .625rem .625rem 0 0;
  padding: .625rem;
  margin-bottom: .625rem;
  border-bottom: solid .0625rem white;
}

.header-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.551);
}

.add-task {
  width: 48px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.tasks{
  width: 100%;
  max-height: 18.75rem;
  overflow-y: scroll;
}

/* task scrollbar */

.tasks::-webkit-scrollbar {
  width: .3125rem; 
  height: .25rem; 
}

.tasks::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0); 
}

.tasks::-webkit-scrollbar-thumb {
  background-color: white; 
  border: none;
  border-radius: .625rem; 
}

.tasks::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

/* end task scrollbar */

.task-body{
  border: solid .0625rem white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625rem;
  margin-bottom: .625rem;
  transition: background-color 0.3s;
  border-radius: .625rem;
  margin: .625rem;
}

.task-body:hover {
  background-color: #4a6d7b;
  .title-task{
    color: white;
  }
  .circle{
    background-color: #181829;
    color: white;
  }
}

.task-header-text{
  width: 100%;
  padding: 5px;
  height: 50px;
}

.task-header-text p{
  margin: 0;
  height: 25px;
  display: flex;
}

.task-header-text hr{
  margin: 0;
  color: white;
}

.title-task{
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

#date-task{
  font-size: .9375rem;
  margin: 0;
}

.task-buttons-wrapper{
  display: flex;
  /* gap: .625rem; */
}

.task-buttons-wrapper button{
  font-size: 24px;
  margin-left: .625rem;
}

.date-task{
  font-size: .8125rem;
  margin-left: .625rem;
}


.delete-task , .done-task , .edit-task {
  background-color: #314029;
  color: white;
  border: solid .0625rem white;
}

/* #region  prompt task */

.prompt-task{
  background-color: #314029;
  border: solid .0625rem white;
  width: 25rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: .625rem;
  border-radius: .625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.prompt-task-button{
  margin-top: .625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.125rem;
}

.prompt-task-button button{
  width: 3.125rem;
  height: 3.125rem;
  background-color: #314029;
  color: white;
  border: solid .0625rem white;
}

.prompt-task-title{
  margin-top: 80px;
  width: 90%;
  padding: .3125rem;
  font-size: 24px;
  font-weight: bold;
  border: .0625rem solid #070606;
  border-radius: .625rem;
  padding: .625rem;
  outline: none;
  border: none;
}

/* #endregion  end prompt task */

.done{
  text-decoration: line-through .125rem;
  background-color: #4a613e;
  border: none;
}

.done:hover{
  background-color: #3b4e31;
}

/* #endregion  end box1 */

/* #region box2 */

.box2 {
  border: solid .0625rem white;
}

.timer-container{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: .625rem .625rem 0 0;
  padding: .625rem;
  margin-bottom: .625rem;
  border-bottom: solid .0625rem white;
}

.title-timer{
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.551);
}

.timer-btn{
  width: 48px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.timer-wrapper{
  font-size: 32px;
}

.timer{
  font-size: 48px;
  font-weight: bold;
  margin: .3125rem;
}

.timer-wrapper{
  display: flex;
  gap: .3125rem;
  margin-bottom: .625rem;
}

.timer-wrapper button{
  font-size: 32px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.button-wrapper{
  display: flex;
}

.button-wrapper button{
  font-size: 32px;
  font-weight: bold;
  letter-spacing: .0625rem;
  padding: .3125rem;
  border-radius: .625rem;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: .625rem;
  margin-bottom: .625rem;
  background-color: #314029;
  border: solid .0625rem white;
}

.button-wrapper button:hover{
  background-color: #4a613e;
}

#stop{
  background-color: #20386a;
}

#stop:hover{
  background-color: #182c52;
}

#reset{
  background-color: #182c52;
}

#reset:hover{
  background-color: #20386a;
}

/* #endregion end box2 */

/* #region box3 */

.box3 {
  border: solid .0625rem white;
  margin-bottom: 1.25rem;
}

.flash-cards-container{
  width: 100%;
  max-height: 18.75rem;
  overflow: hidden;
  overflow-y: scroll;
}

/* flash card scrollbar */

.flash-cards-container::-webkit-scrollbar {
  width: .3125rem; 
  height: .25rem; 
}

.flash-cards-container::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0); 
}

.flash-cards-container::-webkit-scrollbar-thumb {
  background-color: white; 
  border: none;
  border-radius: .625rem; 
}


.flash-cards-container::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

/* end flash card scrollbar */

.flash-card-header{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625rem;
  color: white;
  border-bottom: solid .0625rem white;
}

.flash-card-header-title{
  font-size: 32px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

.flash-card-add{
  width: 48px;
  border-radius: 50%;
  font-size: 40px;
  background: none;
  color: white;
  border: none;
}

.flash-card-body{
  background-color: rgba(0, 0, 0, 0.5);
  border: solid .0625rem white;
  text-align: center;
  margin: .3125rem;
  border-radius: .625rem;
}

.flash-card-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  margin: .3125rem;
}

.flash-card-title h1{
  font-size: 1.25rem;
  margin-right: .625rem;
  font-weight: bold;
}

.flash-card-title button{
  width: 32px;
  height: 32px;
  margin: .3125rem;
  background-color: #4a613e;
  color: white;
  font-size: 16px;
}

.flash-card-title button:hover{
  background-color: #3b4e31;
}

.flash-card-hr{
  background-color: white;
  margin: .625rem;
}

.flash-card-answer{
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

/* #region  prompt flash card */

.prompt-flash-card-button{
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.875rem;
}

.prompt-flash-card-button button{
  width: 3.125rem;
  height: 3.125rem;
  background-color: #4a613e;
  color: white;
}

.prompt-flash-card-button button:hover{
  background-color: #3b4e31;
}

.prompt-flash-card{
  width: 25rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: #314029;
  text-align: center;
  padding: .625rem;  
  border: solid .0625rem white;
  border-radius: .625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prompt-flash-card-title, .prompt-flash-card-answer{
  width: 100%;
  height: 3.125rem;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  color: #070606;
  border-radius: .625rem;
  margin: .3125rem;
  outline: none;
  border: none;
}

.prompt-flash-card-hr{
  background-color: white;
  margin: .625rem;
}

/* #endregion  end prompt flash card */

/* #endregion end box3 */

/* #region  box4 */

.box4 {
  border: solid .0625rem white;
  border-radius: .625rem;
  margin-bottom: 1.25rem;
}

.header-nots {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: .625rem;
  border-radius: .625rem .625rem 0 0;
  color: white;
  border-bottom: solid .0625rem white;
}

.title-nots {
  font-size: 32px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.551);
}

.create-note {
  width: 48px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.container-nots {
  width: 100%;
  padding: .625rem;
  max-height: 18.75rem;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0 0 .625rem .625rem;
}

/* nots scrollbar */

.container-nots::-webkit-scrollbar {
  width: .3125rem; 
  height: .25rem; 
}

.container-nots::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0); 
}

.container-nots::-webkit-scrollbar-thumb {
  background-color: white; 
  border: none;
  border-radius: .625rem; 
}


.container-nots::-webkit-scrollbar-thumb:hover {
  background-color: #555; 
}

/* end nots scrollbar */

.note {
  width: 15.625rem;
  height: 15.625rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: .625rem;
}

.note-buttons {
  background-color: #182c52;
  width: 15.625rem;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  border-radius: .625rem .625rem 0rem 0rem;
  border-bottom: black .0625rem solid;
}

.note-buttons button {
  background-color: #4a613e;
  color: white;
  margin: .625rem;
  width: 2.5rem;
  height: 1.5625rem;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: .3125rem;
}

.note-board {
  background-color: white;
  width: 100%;
  height: 100%;
  font-size: 24px;
  padding: .3125rem;
  resize: none;
  user-select: none;
  outline: none;
  border: none;
  scroll-padding-block: .625rem;
  overflow-y: scroll ;
  box-sizing: border-box;
}


.note-board::-webkit-scrollbar {
  width: .3125rem; 
  height: .3125rem; 
}

.note-board::-webkit-scrollbar-thumb {
  background-color: black;
  border: none;
  border-radius: .625rem; 
  cursor: grabbing;
}

.note-board::-webkit-scrollbar-track {
  background-color:rgba(153, 153, 153, 0.892); 
}

.prompt-note {
  background-color: #003366;
  width: 25rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: .625rem;
  border-radius: 1.25rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prompt-buttons {
  background-color: #294c94;
  width: 100%;
  height: 4.375rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: .625rem;
  border-radius: .625rem;
}

.prompt-buttons button {
  margin: .625rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #2079b4;
  color: white;
}

.text-prompt {
  width: 100%;
  height: 70%;
  padding: .3125rem;
  outline: none;
  border: none;
  border-radius: .625rem;
  font-size: 24px;
  resize: none;
}

.text-prompt::-webkit-scrollbar {
  width: .3125rem; 
  height: .3125rem; 
}

.text-prompt::-webkit-scrollbar-thumb {
  background-color:  #10C8CD;
  border: none;
  border-radius: .625rem; 
  cursor: grabbing;
}

.text-prompt::-webkit-scrollbar-track {
  background-color:rgba(153, 153, 153, 0.892); 
}

.hidden {
  display: none;
}

/* #endregion  end box4 */



@media (max-width: 768px) {
  body{
    background-image: url("https://i.pinimg.com/control/564x/23/6e/5a/236e5af3426b5e01ac1e6948712721a7.jpg");
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .container{
    padding: 10px;
  }

  .header-title {
    font-size: 20px;
  }

  .add-task {
    font-size: 20px;
  }

  .task-header-text p{
    margin: 0;
  }

  .title-task {
    font-size: 16px;
    font-weight: bold;
  }

  #date-task {
    font-size: 10px;
    margin: 0;
  }  

  .task-buttons-wrapper  button{
    font-size: 20px;
  }

  .task-header-text p{
    margin: 0;
    height: 15px;
    display: flex;
  }

  .title-timer {
    font-size: 16px;
  }

  .timer-btn {
    font-size: 20px;
  }

  .button-wrapper button{
    font-size: 15px;
  }

  .flash-card-add{
    font-size: 20px;
  }

  .flash-card-header-title{
    font-size: 16px;
  }

  .button-flash-card button{
    font-size: 20px;
  }

  .create-note{
    font-size: 20px;
  }

  .title-nots{
    font-size: 16px;
  }

  .tasks{
    height: 200px;
  }

  .timer-container{
    height: 200px;
  }

  .flash-cards-container{
    height: 200px;
  }

  .container-nots{
    height: 200px;
  } 

  .prompt-task {
    width: 200px;
    height: 200px;
  }
  .prompt-task-button{
    margin: 0;
  }

  .prompt-task-button button{
    font-size: 20px;
    border: none;
  }

  .prompt-task-title{
    margin: 20px;
    font-size: 10px;
  }

  .prompt-flash-card{
    width: 200px;
    height: 200px;
  }

  .prompt-flash-card-button{
    margin: 0;
  }

  .prompt-flash-card-button button{
    border: none;
    font-size: 20px;
    background: none;
  }

  .prompt-flash-card-title, .prompt-flash-card-answer{
    font-size: 10px;
  }

  .prompt-note{
    width: 200px;
    height: 200px;
  }

  .prompt-note-button{
    margin: 0;
  }

  .prompt-note-button button{
    border: none;
    font-size: 20px;
    background: none;
  }

}