* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: start;
  align-items: start;
  height: 110vh;
  background-color: #070606 !important;
  color: white;
  font-family: Arial, sans-serif;
  background-image: url("./img/bgAppStudy.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.circle {
  width: 2.5rem;
  border-radius: 50%;
  border: none;
  font-size: 24px;
  cursor: pointer;
  background-color: white;
}

.hidden {
  display: none;
}

.container {
  display: grid;
  gap: 0.625rem;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  width: 90%;
  max-width: 75rem;
  height: 90%;
  color: white;
}

.box {
  font-size: 24px;
  border-radius: 0.625rem;
  color: white;
}

/* #region box1 */
.box1 {
  border: solid 0.0625rem white;
}

.task-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem 0.625rem 0 0;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border-bottom: solid 0.0625rem white;
}

.header-title {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.551);
}

.add-task {
  width: 48px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.tasks {
  width: 100%;
  max-height: 18.75rem;
  overflow-y: scroll;
}

/* task scrollbar */

.tasks::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.25rem;
}

.tasks::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0);
}

.tasks::-webkit-scrollbar-thumb {
  background-color: white;
  border: none;
  border-radius: 0.625rem;
}

.tasks::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* end task scrollbar */

.task-body {
  border: solid 0.0625rem white;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  transition: background-color 0.3s;
  border-radius: 0.625rem;
  margin: 0.625rem;
}

.task-body:hover {
  background-color: #4a6d7b;
  .title-task {
    color: white;
  }
  .circle {
    background-color: #181829;
    color: white;
  }
}

.task-header-text {
  width: 100%;
  padding: 5px;
  height: 50px;
}

.task-header-text p {
  margin: 0;
  height: 25px;
  display: flex;
}

.task-header-text hr {
  margin: 0;
  color: white;
}

.title-task {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

#date-task {
  font-size: 10px;
  margin: 0;
}

.task-buttons-wrapper {
  display: flex;
  /* gap: .625rem; */
}

.task-buttons-wrapper button {
  font-size: 24px;
  margin-left: 0.625rem;
}

.date-task {
  font-size: 0.8125rem;
  margin-left: 0.625rem;
}

.delete-task,
.done-task,
.edit-task {
  background-color: #314029;
  color: white;
  border: solid 0.0625rem white;
}

/* #region  prompt task */

.prompt-task {
  background-image: url("./img/promt.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  border: solid 0.0625rem white;
  width: 25rem;
  height: 18.75rem;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 0.625rem;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 200;
}

.prompt-task-button {
  margin-top: 0.625rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 3.125rem;
}

.prompt-task-button button {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #7daba9;
  color: #021c2d;
}

.prompt-task-button button:hover {
  background-color: #5a8583;
}

.prompt-task-title {
  margin-top: 80px;
  width: 90%;
  padding: 0.3125rem;
  font-size: 20px;
  font-weight: bold;
  border: 0.0625rem solid #070606;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e0eac7;
  border: solid 0.0625rem black;
  border-radius: 15px;
  padding: 0.625rem;
  outline: none;
}

/* #endregion  end prompt task */

.done {
  text-decoration: line-through 0.125rem;
  background-color: #4a613e;
  border: none;
}

.done:hover {
  background-color: #3b4e31;
}

/* #endregion  end box1 */

/* #region box2 */

.box2 {
  border: solid 0.0625rem white;
}

.timer-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.timer-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.625rem 0.625rem 0 0;
  padding: 0.625rem;
  margin-bottom: 0.625rem;
  border-bottom: solid 0.0625rem white;
}

.title-timer {
  font-size: 32px;
  font-weight: bold;
  color: white;
  background-color: rgba(0, 0, 0, 0.551);
}

.timer-btn {
  width: 48px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.timer-wrapper {
  font-size: 32px;
}

.timer {
  font-size: 48px;
  font-weight: bold;
  margin: 0.3125rem;
}

.timer-wrapper {
  display: flex;
  gap: 0.3125rem;
  margin-bottom: 0.625rem;
}

.timer-wrapper button {
  font-size: 32px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.button-wrapper {
  display: flex;
}

.button-wrapper button {
  font-size: 32px;
  font-weight: bold;
  letter-spacing: 0.0625rem;
  padding: 0.3125rem;
  border-radius: 0.625rem;
  border: none;
  color: white;
  cursor: pointer;
  margin-left: 0.625rem;
  margin-bottom: 0.625rem;
  background-color: #314029;
  border: solid 0.0625rem white;
}

.button-wrapper button:hover {
  background-color: #4a613e;
}

#stop {
  background-color: #20386a;
}

#stop:hover {
  background-color: #182c52;
}

#reset {
  background-color: #182c52;
}

#reset:hover {
  background-color: #20386a;
}

/* #endregion end box2 */

/* #region box3 */

.box3 {
  border: solid 0.0625rem white;
  margin-bottom: 1.25rem;
}

.flash-cards-container {
  width: 100%;
  max-height: 18.75rem;
  overflow: hidden;
  overflow-y: scroll;
}

/* flash card scrollbar */

.flash-cards-container::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.25rem;
}

.flash-cards-container::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0);
}

.flash-cards-container::-webkit-scrollbar-thumb {
  background-color: white;
  border: none;
  border-radius: 0.625rem;
}

.flash-cards-container::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* end flash card scrollbar */

.flash-card-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  color: white;
  border-bottom: solid 0.0625rem white;
}

.flash-card-header-title {
  font-size: 32px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.5);
}

.flash-card-add {
  width: 48px;
  border-radius: 50%;
  font-size: 40px;
  background: none;
  color: white;
  border: none;
}

.flash-card-body {
  background-color: rgba(0, 0, 0, 0.5);
  border: solid 0.0625rem white;
  text-align: center;
  margin: 0.3125rem;
  border-radius: 0.625rem;
}

.flash-card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: white;
  margin: 0.3125rem;
}

.flash-card-title h1 {
  font-size: 20px;
  margin-right: 0.625rem;
  font-weight: bold;
}

.flash-card-title button {
  width: 32px;
  height: 32px;
  margin: 0.3125rem;
  background-color: #4a613e;
  color: white;
  font-size: 16px;
}

.flash-card-title button:hover {
  background-color: #3b4e31;
}

.flash-card-hr {
  background-color: white;
  margin: 0.625rem;
}

.flash-card-answer {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
}

/* #region  prompt flash card */

.prompt-flash-card {
  background-image: url("./img/promt.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 450px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  text-align: center;
  padding: 0.625rem;
  border: solid 0.0625rem white;
  border-radius: 0.625rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prompt-flash-card-button {
  width: 100%;
  height: 3.125rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 1.875rem;
}

.prompt-flash-card-button button {
  width: 3.125rem;
  height: 3.125rem;
  background-color: #7daba9;
  color: #021c2d;
}

.prompt-flash-card-button button:hover {
  background-color: #5a8583;
}

.prompt-flash-card-title,
.prompt-flash-card-answer {
  width: 100%;
  height: 3.125rem;
  font-weight: bold;
  text-align: center;
  font-size: 24px;
  border-radius: 0.625rem;
  margin: 0.3125rem;
  outline: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e0eac7;
  border: solid 0.0625rem black;
}

.prompt-flash-card-hr {
  background-color: white;
  margin: 0.625rem;
}

/* #endregion  end prompt flash card */

/* #endregion end box3 */

/* #region  box4 */

.box4 {
  border: solid 0.0625rem white;
  border-radius: 0.625rem;
  margin-bottom: 1.25rem;
}

.header-nots {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.625rem;
  border-radius: 0.625rem 0.625rem 0 0;
  color: white;
  border-bottom: solid 0.0625rem white;
}

.title-nots {
  font-size: 32px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.551);
}

.create-note {
  width: 48px;
  font-size: 40px;
  cursor: pointer;
  border: none;
  background: none;
  color: white;
}

.container-nots {
  width: 100%;
  padding: 0.625rem;
  max-height: 18.75rem;
  overflow: hidden;
  overflow-y: scroll;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 0 0 0.625rem 0.625rem;
}

/* nots scrollbar */

.container-nots::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.25rem;
}

.container-nots::-webkit-scrollbar-track {
  background: rgba(128, 128, 128, 0);
}

.container-nots::-webkit-scrollbar-thumb {
  background-color: white;
  border: none;
  border-radius: 0.625rem;
}

.container-nots::-webkit-scrollbar-thumb:hover {
  background-color: #555;
}

/* end nots scrollbar */

.note {
  width: 251px;
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 0.625rem;
  border-radius: 10px;
}

.note-buttons {
  background-color: rgba(0, 0, 0, 0.7);
  width: 15.625rem;
  height: 3.125rem;
  display: flex;
  justify-content: space-between;
  border-radius: 0.625rem 0.625rem 0rem 0rem;
  border-bottom: white 2px solid;
}

.note-buttons button {
  background-color: #4a613e;
  color: white;
  margin: 0.625rem;
  width: 2.5rem;
  height: 1.5625rem;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 0.3125rem;
}

.note-board {
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  width: 100%;
  height: 100%;
  font-size: 26px;
  font-weight: bold;
  padding: 5px;
  resize: none;
  user-select: none;
  outline: none;
  scroll-padding-block: 10px;
  overflow-y: scroll;
  box-sizing: border-box;
  border: solid 0.0625rem white;
}

.note-board::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}

.note-board::-webkit-scrollbar-thumb {
  background-color: black;
  border: none;
  border-radius: 0.625rem;
  cursor: grabbing;
}

.note-board::-webkit-scrollbar-track {
  background-color: rgba(153, 153, 153, 0.892);
}

.prompt-note {
  background-image: url("./img/promt.jpg");
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  width: 450px;
  height: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  padding: 0.625rem;
  border-radius: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.prompt-buttons {
  width: 100%;
  height: 70px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-bottom: 0.625rem;
  border-radius: 0.625rem;
}

.prompt-buttons button {
  margin: 0.625rem;
  width: 3.125rem;
  height: 3.125rem;
  background-color: #7daba9;
  color: #021c2d;
}

.prompt-buttons button:hover {
  background-color: #5a8583;
}

.text-prompt {
  width: 100%;
  height: 70%;
  padding: 0.3125rem;
  outline: none;
  border: none;
  border-radius: 0.625rem;
  font-size: 24px;
  resize: none;
  background-color: rgba(0, 0, 0, 0.5);
  color: #e0eac7;
}

.text-prompt::-webkit-scrollbar {
  width: 0.3125rem;
  height: 0.3125rem;
}

.text-prompt::-webkit-scrollbar-thumb {
  background-color: #10c8cd;
  border: none;
  border-radius: 0.625rem;
  cursor: grabbing;
}

.text-prompt::-webkit-scrollbar-track {
  background-color: rgba(153, 153, 153, 0.892);
}

.hidden {
  display: none;
}

/* #endregion  end box4 */

@media (max-width: 768px) {
  body {
    height: 120dvh;
    background-image: url("./img/phinbg.jpg");
  }

  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, 1fr);
  }

  .container {
    padding: 10px;
  }

  .header-title {
    font-size: 20px;
  }

  .add-task {
    font-size: 20px;
  }

  .task-header-text p {
    margin: 0;
  }

  .title-task {
    font-size: 16px;
    font-weight: bold;
  }

  #date-task {
    font-size: 10px;
    margin: 0;
  }

  .task-buttons-wrapper button {
    font-size: 15px;
    padding: 5px;
  }

  .task-header-text p {
    margin: 0;
    height: 15px;
    display: flex;
  }

  .title-timer {
    font-size: 16px;
  }

  .timer-btn {
    font-size: 20px;
  }

  .button-wrapper button {
    font-size: 15px;
  }

  .flash-card-add {
    font-size: 20px;
  }

  .flash-card-header-title {
    font-size: 16px;
  }

  .buttons-flash-card button {
    font-size: 15px;
  }

  .flash-card-title h1{
    font-size: 15px;
  }

  .flash-card-answer{
    font-size: 15px;
  }

  .create-note {
    font-size: 20px;
  }

  .title-nots {
    font-size: 16px;
  }

  .tasks {
    height: 200px;
  }

  .timer-container {
    height: 200px;
  }

  #stop {
    background-color: #314029;
  }

  #reset {
    background-color: #314029;
  }

  .flash-cards-container {
    height: 200px;
  }

  .container-nots {
    height: 200px;
    margin-bottom: 20px;
  }

  .prompt-task {
    width: 300px;
    height: 200px;
    background-image: url("./img/phonPrompt.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    top: 20%;
  }
  .prompt-task-button {
    margin: 0;
  }

  .prompt-task-button button {
    font-size: 25px;
    border: none;
    background-color: #f4f1be;
  }

  .prompt-task-title {
    margin: 20px;
    font-size: 15px;
    color: white;
  }

  .prompt-task-title::placeholder{
    opacity: 1;
  }

  .prompt-flash-card {
    width: 300px;
    height: 200px;
    background-image: url("./img/phonPrompt.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    top: 80%;
  }

  .prompt-flash-card-button {
    margin: 0;
  }

  .prompt-flash-card-button button {
    border: none;
    font-size: 25px;
    background: none;
  }

  .prompt-flash-card-title,
  .prompt-flash-card-answer {
    font-size: 15px;
    color: white;
  }

  .prompt-flash-card-title::placeholder , .prompt-flash-card-answer::placeholder{
    opacity: 1;
  }

  .prompt-note {
    width: 300px;
    height: 200px;
    background-image: url("./img/phonPrompt.jpg");
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    top: 80%;
  }

  .prompt-note-button {
    margin: 0;
  }

  .prompt-buttons button{
    border: none;
    font-size: 25px;
    background: none;
  }

  .text-prompt{
    font-size: 15px;
    color: white;
    font-weight: bold;
  }

  .text-prompt::placeholder{
    opacity: 1;
  }
}
